<div class="container">
    <h1>Dashboard</h1>

    <div class="row">
        <div class="col-sm">
            <div id="trending">
                <h3>Trending emojis</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab error a similique est eaque distinctio voluptate at quod in facere magni modi, explicabo non, deserunt iusto natus maxime reiciendis quidem? Tempora, similique? Dignissimos rem voluptatum veniam non suscipit, necessitatibus dicta!  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab error a similique est eaque distinctio voluptate at quod in facere magni modi, explicabo non, deserunt iusto natus maxime reiciendis quidem? Tempora, similique? Dignissimos rem voluptatum veniam non suscipit, necessitatibus dicta!
                </p>
            </div>
        </div>
    
        <div class="col-sm">
            <div id="topEmojis">
                <h3>Top emoji of all time</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab error a similique est eaque distinctio voluptate at quod in facere magni modi, explicabo non, deserunt iusto natus maxime reiciendis quidem? Tempora, similique? Dignissimos rem voluptatum veniam non suscipit, necessitatibus dicta!  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab error a similique est eaque distinctio voluptate at quod in facere magni modi, explicabo non, deserunt iusto natus maxime reiciendis quidem? Tempora, similique? Dignissimos rem voluptatum veniam non suscipit, necessitatibus dicta!
                </p>
            </div>
        </div>
    </div>
</div>
