<div class="jumbotron">
    <img src="/images/emojis.jpg" alt="Rows of emojis" id="rowsOfEmojisImage">

    <h1 class="display-4">Welcome to the Family 
        <img src="/images/familyResized.jpg" alt="Family picture" id="familyImage">!
    </h1>

    <p class="lead">
        Emoji is the news and hottest social emoji platform on the block.
    </p>

    <ul>
        <li>
            Share and compare your most used and least used emoji with your friends.
        </li>
        <li>
            Swap emojis with our innovative trading system!
        </li>
        <li>
            Train emojis into their ultimate fighting form!
        </li>
        <li>
            Conquer the web with our legendary emojis!
        </li>
    </ul>
</div>
