	<!--	Begin Login Form	-->
	<div class="container">
		<h1 class="text-center">Login</h1>

		<form id="loginForm" method="POST" action="">
		  <div class="form-group w-75 ml-5">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" name="username">
		  </div>

		  <div class="form-group w-75 ml-5">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password">
		  </div>

			<div class="text-center">
			  <button type="submit" class="btn btn-primary"   id="submitButton">Submit</button>
			  <button type="reset"  class="btn btn-secondary" id="resetButton"> Reset</button>
			</div>
		</form>
	</div><br><br>
	
	<div id="results" class="text-center"></div>
