	<!--	Begin Register Form	-->
	<div class="container">
		<h1 class="text-center">Register Account</h1>
		<h5 class="text-center">Please complete the following form to create an account on our website</h5>
	
		<form id="registerForm">
		  <div class="form-group w-75 ml-1">
			<label for="username">Username</label><br>
			<input type="text" class="form-control" id="username" name="username">
			<span>&nbsp;</span>
		  </div>

		  <div class="form-group w-75 ml-1">
			<label for="email">Email Address</label><br>
			<input type="email" class="form-control" id="email" name="email">&nbsp;&nbsp;&nbsp;
			<span>&nbsp;</span>
		  </div>

		  <div class="form-group w-75 ml-1">
			<label for="password">New Password</label><br>
			<input type="password" class="form-control" id="password" name="password">&nbsp;&nbsp;&nbsp;
			<span>&nbsp;</span>
		  </div>

		  <div class="form-group w-75 ml-1">
			<label for="confirmpassword">Confirm Password</label><br>
			<input type="password" class="form-control" id="confirmpassword" name="confirmpassword">&nbsp;&nbsp;&nbsp;
			<span>&nbsp;</span>
		  </div>
		  
		  <div class="clr"></div>

		  <div>
		    <button type="submit" class="btn btn-primary"   id="submitButton">Register</button>
		  </div>
		</form>
	</div><br><br>
	
	<div id="results" class="text-center"></div>
