#rowsOfEmojisImage {
    width: 100%;
    height: 60vh;
    margin-top: -4rem;
}

.navbar a {
    text-decoration: underline;
}

.jumbotron p,
.jumbotron h1,
.jumbotron ul {
    font-weight: bold;
}

.jumbotron {
    margin-bottom: -1rem;
}

#trending h1,
#trending p {
    text-align: left;
}

.clr {
    clear: both;
}

.footer {
    text-align: center;
    font-size: 1rem;
}

/*  Media Queries   */
@media (min-width: 768px) {
    .h-md-100 { 
        height: 100vh; 
    }
}